Lib/Service References/GRS/Release12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ArtistEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.253.50.221:61231/Release/Release.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:complexType name="ArrayOfArtistInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistInfo" nillable="true" type="tns:ArrayOfArtistInfo" />
  <xs:complexType name="ArtistInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" base="q1:EntityInformation">
        <xs:sequence>
          <xs:element minOccurs="0" name="ContributionId" type="xs:long" />
          <xs:element minOccurs="0" name="HasArtistRole" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasComposerRole" type="xs:boolean" />
          <xs:element minOccurs="0" name="HasWriterRole" type="xs:boolean" />
          <xs:element minOccurs="0" name="Id" type="xs:long" />
          <xs:element minOccurs="0" name="IsPrimary" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NameId" type="xs:long" />
          <xs:element minOccurs="0" name="R2AccountId" type="xs:long" />
          <xs:element minOccurs="0" name="RoleNo" type="xs:int" />
          <xs:element minOccurs="0" name="SequenceNo" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
</xs:schema>