Lib/Service References/D2Terms/D2Terms3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UMG.D2.Server.Business.DataContract.CopyUPC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UMG.D2.Server.Business.DataContract.CopyUPC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Results">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
      <xs:element minOccurs="0" name="SuccessSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Results" nillable="true" type="tns:Results" />
</xs:schema>