Lib/Service References/GRS_ReleaseDataProvider/Release11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.253.50.221:61231/Release/Release.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" />
  <xs:import schemaLocation="http://10.253.50.221:61231/Release/Release.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" />
  <xs:import schemaLocation="http://10.253.50.221:61231/Release/Release.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://10.253.50.221:61231/Release/Release.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" />
  <xs:import schemaLocation="http://10.253.50.221:61231/Release/Release.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" />
  <xs:import schemaLocation="http://10.253.50.221:61231/Release/Release.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.NotificationEntities" />
  <xs:import schemaLocation="http://10.253.50.221:61231/Release/Release.svc?xsd=xsd12" namespace="http://schemas.umusic.com" />
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="searchCriteria" nillable="true" type="q1:ReleaseSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="SearchResult" nillable="true" type="q2:ReleaseSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="linkReleaseInfo" nillable="true" type="q3:LinkedInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" minOccurs="0" name="GetAssociatedResourceResult" nillable="true" type="q4:ResourceSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="lstLinkReleaseInfo" nillable="true" type="q5:ArrayOfLinkedInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" minOccurs="0" name="GetAssociatedResourcesResult" nillable="true" type="q6:ResourceSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="releaseIds" nillable="true" type="q7:ArrayOflong" />
        <xs:element minOccurs="0" name="contractId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkReleaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleases">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="releaseIds" nillable="true" type="q8:ArrayOflong" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="GetReleasesResult" nillable="true" type="q9:ReleaseSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResources">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="releaseInfo" nillable="true" type="q10:ArrayOfReleaseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" minOccurs="0" name="GetResourcesResult" nillable="true" type="q11:ArrayOfResourceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedResourcesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="releaseInfo" nillable="true" type="q12:ArrayOfReleaseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociatedResourcesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ResourceEntities" minOccurs="0" name="GetAssociatedResourcesListResult" nillable="true" type="q13:ArrayOfResourceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUpc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="upcFromFile" nillable="true" type="q14:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUpcResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidateUpcResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleasesSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isSensitive" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" minOccurs="0" name="searchFilter" nillable="true" type="q16:SearchRepertoireCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleasesSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.RepertoireEntities" minOccurs="0" name="GetReleasesSearchResult" nillable="true" type="q17:ArrayOfRepertoireRightsSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="GetConfigurationResult" nillable="true" type="q18:ConfigurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="GetConfigurationGroupResult" nillable="true" type="q19:ConfigurationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoSearchReleaseTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoSearchReleaseTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="AutoSearchReleaseTitleResult" nillable="true" type="q20:ArrayOfStringIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoSearchReleaseArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isExact" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutoSearchReleaseArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.BaseEntities" minOccurs="0" name="AutoSearchReleaseArtistResult" nillable="true" type="q21:ArrayOfStringIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rightsetId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.ReleaseEntities" minOccurs="0" name="GetReleaseDetailsResult" nillable="true" type="q22:ReleaseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.NotificationEntities" minOccurs="0" name="notificationMessage" nillable="true" type="q23:NotificationMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/UMGI.GRCS.BusinessEntities.Entities.NotificationEntities" minOccurs="0" name="ProcessNotificationResult" nillable="true" type="q24:NotificationProcessingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="id" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="searchOption" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="GetReleaseRightsResult" type="tns:ArrayOfReleaseRights" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfReleaseRights">
    <xs:sequence>
      <xs:element xmlns:q25="http://schemas.umusic.com" minOccurs="0" maxOccurs="unbounded" name="ReleaseRights" nillable="true" type="q25:ReleaseRights" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>